{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}

{% if kind == 'route' %}
    {% render(path(route, params|merge(app.request.query.all))) %}
{% else %}
    <div class="vic-render-widget-container">
        {{ cms_widget(relatedWidget) }}
    </div>
{% endif %}

{% endblock content %}
